<!DOCTYPE html>
<html>
  <head>
    <title>We're playing</title>
    <link rel="stylesheet" href="/css/style.css">    
  </head>
  
  <body>
    <div id="error">
      <p><%= error %></p>
    </div>
  </body>
</html>