<p>Let's get this party started!</p>

<p>Reply back with the coordinates of a sequence of dots that are the same color to clear them. </p>

<p>Start with the letter first. For example: a3</p>

<p>Separate coordinates with a comma. For example: a3, a2</p>

<table cellspacing="0" cellpadding="0" border="0">
  <tr>
    <th></th>
    <% for(var i=0, len=Game.COLS.length; i<len; i++) {%> 
      <th style="font-weight:normal; color:#ccc; padding:18px; font-family:Helvetica, Arial;"><%= Game.COLS[i] %> </th>
    <%} %>
  </tr>
  <% for (var i=0, len=Game.ROWS.length; i<len; i++) { %>
    <tr>
      <td style="color:#ccc; padding:18px; font-family:Helvetica, Arial;"><%= Game.ROWS[i] %></td>
      <% for (var j=0, jen=Game.COLS.length; j<jen; j++) { %>
        <td align="center" valign="middle">
          <div style="width:20px; height:20px; border-radius: 12px; -moz-border-radius: 12px; background:#<%=Game.COLORS[board[j][i]] %>; margin:18px;">&nbsp;</div>
        </td>
      <% } %>
    </tr>
  <% } %>      
</table>

<div style="display:none;">gameid: <%= id %></div>